﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hi MVC</h1>
    <p class="lead">
        .NET MVC 是微軟反璞歸真的重返榮耀，<br />
        他順應時代潮流使用 MVC 架構來構建網頁，<br />
        一切又回歸到 Request and Response
    </p>
    <p><a href="javascript:alert('no more')" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
