﻿@model IEnumerable<HiMVC.Models.Fellow>

@{
    ViewBag.Title = "小夥伴列表";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("新增小夥伴", "Create", "Fellows", new { @class = "btn btn-primary" })
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("詳情", "Details", new { id = item.Id }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>查無資料</h3>
}
