﻿@using HiMVC.Helpers
@model HiMVC.ViewModels.RestaurantViewModel

@{
    ViewBag.Title = "食堂列表";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("新增食堂", "Create", "Restaurants", new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm(null, null, FormMethod.Get))
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="瞅瞅" class="btn btn-primary" />
                @Html.EditorFor(model => model.Page, new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
}

<hr />

@if (Model.Restaurants.Count() > 0)
{
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Restaurants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @foreach (var tag in item.TagsList)
                    {
                        <span class="badge">@tag</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("詳情", "Details", new { id = item.Id }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("評價", "Review", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="@Shared.GetClassNames(
                "page-item",
                Model.IsFirst ? "disabled" : "",
                Model.IsFirst ? "foo" : "")">
                <a class="page-link" href="@Shared.GetPagingUrl(1)">&lt;&lt;</a>
            </li>
            <li class="page-item@(Model.IsFirst ? " disabled" : "")">
                <a class="page-link" href="@Shared.GetPagingUrl(Model.Page.Value - 1)">&lt;</a>
            </li>
            @foreach (var item in Model.GetPageItems())
            {
                <li class="page-item@(item.IsCurrent ? " active" : "")">
                    <a class="page-link" href="@Shared.GetPagingUrl(item.Page)">@item.Page</a>
                </li>
            }
            <li class="page-item@(Model.IsLast ? " disabled" : "")">
                <a class="page-link" href="@(Model.IsLast
                    ? "javascript:void(0)"
                    : Shared.GetPagingUrl(Model.Page.Value + 1))">&gt;</a>
            </li>
            <li class="page-item@(Model.IsLast ? " disabled" : "")">
                <a class="page-link" href="@(Model.IsLast
                    ? "javascript:void(0)"
                    : Shared.GetPagingUrl(Model.LastPage.Value))">&gt;&gt;</a>
            </li>
        </ul>
    </nav>
}
else
{
    <h3>查無資料</h3>
}
