﻿@model HiMVC.ViewModels.ReviewViewModel

@{
    ViewBag.Title = "給點評價";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.Stars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.Stars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.Tags)
        </dt>

        <dd>
            @foreach (var tag in Model.Restaurant.TagsList)
            {
                <span class="badge">@tag</span>
            }
        </dd>
    </dl>
    <hr />
    @if (ViewBag.HasReviewed == true)
    {
        <h3>不好意思，您已經評價過</h3>
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Review.RestaurantId, new { Value = @Model.Restaurant.Id })
                <div class="form-group">
                    @Html.LabelFor(model => model.Review.FellowId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Review.Fellow.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Review.Fellow.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Review.Stars, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Review.Stars, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Review.Stars, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Review.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Review.Comment, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Review.Comment, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="留點口德，積點陰德" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
</div>
<p>
    @Html.ActionLink("回頭是岸", "Index")
</p>
